*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.roboto-light, * {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-medium, h1, h4 {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

header{
    /*background-color:#00008B;*/
    background-image: url(./imagens/fundo-de-folhas-secas-de-outono_141928-353.avif);
    padding-bottom: 16px;

    border: 3.5px solid  #0000CD;
    border: 3.5px solid  black;
    border-radius: 9px;
}
.topo{
    width: 1266px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    padding-top:12px;
}

.topo li {
    display:inline;
}

.topo li a {
    color: white;
    text-decoration:none;

    padding: 3.5px 3px;
    border: 3px solid  #320000;
    background-color: #4B0082;
    background-color: #460000;
    border-radius: 12px;

}

.topo a:hover{
    background-color: #590000;
}

header h1{
    background-color: #460000;
    border: 4px solid #460000;
    border-radius: 9px;
    padding: 4px;
}

span{
    color: #fff;;
}

fieldset{
    padding:5px;
    border-radius: 5px;
}
/* ----------------------------------- */
.container{
    max-width:1266px;
    width:100%;
    margin: 150px auto;
}

img{
    height:450px;
    margin: 0px 0px;
    
}

.articles{
    max-width:1266px;
    width:100%;
    display:flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#agencia{
    margin-left: 17px;

}
article h1{
    margin-bottom: 10 px;
}

article p{
    margin: 15px 0px;
}

fieldset{
    background-color: #fff;
    padding-top: 8px;
    margin-left:0;
    padding-left: 0;
}

.galeria{
    padding: 5px;    
}

footer{
    background-color: #E2910C;
    border-top:rgb(175, 114, 15) 5px solid;
    padding:110px;
}

input, textarea{
    display: block;
}

footer img {
    height: 35px;
}

.sec{
    display: flex;
    justify-content: space-between;
}

h5, footer button, footer ul, address{
    margin-top: 9px;
}

h5{
    font-weight:300;
}

footer section ul li {
    display: inline;
}

h4{
    font-size:larger;
    font-weight:400;
}

footer input, textarea, footer button{
    width: 310px;
    height: 25px;
}

textarea{
    height:  75px;
    resize: none;
}

footer input, textarea{
    border: none;
    border-bottom: 4px solid rgb(175, 114, 15);
    border-radius: 2px;
}

footer button{
    background:rgb(175, 114, 15);
    cursor: pointer;
    border: 3px solid rgb(175, 114, 15);
    border-radius: 1.9px;
}

footer button:hover{
    background-color: rgb(195, 126, 17);
}

footer p:last-of-type {
    text-align: center;
    margin-top: 67px;
    margin-left: 19px;
}